@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');


:root {
    --background-primary: rgb(40, 53, 68);
    --background-secondary: rgb(14, 25, 37);
    --background-tertiary:  rgb(14, 25, 37);
    --background-Fourth:  rgb(128, 128, 128);
}

[data-theme="light-theme"]{
    --background-primary: rgb(122, 155, 197);
    --background-secondary: rgb(94, 125, 158);
    --background-tertiary:  rgb(94, 125, 158);
    --background-Fourth: rgb(184, 184, 184);  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Open Sans', sans-serif; 
}

body{
    background-color: rgb(40, 53, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary);
}

.nav{
    width: 100%;
    height: 80px;
}

.Title{
    width:100% ;
    font-size:1.5rem ;
    background-color: rgb(14, 25, 37);
    color: #fff;
    text-align: center; 
    padding: 5px;    
    background-color: var(--background-secondary);
}

.Editors{
    width: 100%;
    height: 60px;
    font-size: 1rem;
    background-color: rgb(14, 25, 37);
    color: #fff;   
    text-align: center;
    padding: 15px;
    background-color: var(--background-tertiary);
}

.Container-meme{
    width: 100%;
    height: 100%;
    padding: 5rem 1.2rem 2rem;      
}

.Top-text,.Bottom-text{
    height: 2rem;
    font-size: 0.8rem;
    background-color:#fff;
    text-align: center;
    -webkit-text-stroke: 2px;
    padding: 3px;
    color:black;    
}

.Img-meme{
    background-color: black;
    height: 15rem;    
}
    
.Text-editor,.Image-editor{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: grey;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .3s; 
    padding: 0;   
    margin-top: 0; 
    background-color: var(--background-Fourth)
}

.fa-solid,.fa-regular{
    padding: 8px;
}

.button{
    cursor: pointer;
    background-color: transparent;
    justify-content: center;
    border: none;
    font-size: 1rem; 
    color: aliceblue;  
}

.download{
    color: #fff;
    background-color: rgb(37, 134, 37);
    padding: 10px;    
}

.copy{
    margin-top: 25%;   
}

.hidden{
    display: none;
}

@media (min-width: 768px){

    .Title{
        font-size: 1.8rem;
    }

    .Top-text,.Bottom-text{
        font-size: 2rem ;
        height: 4rem;
        -webkit-text-stroke: 4px;
    }

    .Img-meme{
        height: 20rem;
    }

    .Container-meme{
        width: 80%;
        padding: 5rem 3rem 2rem;       
    }

    .copy{
        margin-top: 5%;   
    }
}

@media (min-width: 1024px){

    .Title{
        font-size: 1.8rem;
    }   

    .Top-text ,.Bottom-text{
        font-size: 1.5rem ;
        height: 5rem;
        -webkit-text-stroke: 2px;
        padding: 15px;
    }

    .Img-meme{
        height: 18rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .Container-meme{
        width: 40%;
        padding:3rem 2rem 1rem;       
    }

    .download{
        font-size: 0.7rem;
        padding: 4px;
    }

    .copy{
        display: none;   
    }

    .Image-editor, .Text-editor{
        position: fixed;
        width: 16%;
        height: 100vh;
        background-color: rgb(31, 51, 71);
        color: #fff;
        top: 0px;
        left:85%;
        transition: all .3s; 
        padding: 25px;      
        text-align: start;                          
    }    

    .Title-editor{
        font-size: 14px;
        text-align: center;
        padding: 5px; 
    }

    .Title-input{
        font-size: 0.6rem;
        padding: 5px;        
    }

    .btn-ResetFilters{
        background-color: dimgray;
        color: #fff;
        border-radius: 5px;
        height: 30px;
        padding: 5px;
        margin-top: 5px;      
    }

    input, button,select, textarea{
        background-color: rgb(121, 131, 131);
        border: none;
        border-radius: 3px;       
        color: #fff;
        padding: 3px;
        margin: 2px;
    } 

    .Filters{
        width: 100%;
        height: 10px;             
    }  

    .number, .Color{
        width: 40%;       
    }

    .Fuente,.Espaciado,.Interlineado{
        width: 100%;
    }

        
    .fa-solid,.fa-regular{
        padding: 3px;   
        font-family: Arial, Helvetica, sans-serif;    
    }
}
    


    